.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.website-logo {
  width: 80px;
}

.logout-btn {
  border: 2px solid #c3cad9;
  cursor: pointer;
  border-radius: 3px;
  background-color: transparent;
  color: white;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 600;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
}
